/* Colors */
$primary: #009F6B;
$primary_hover: #000;
$secondary: #000;

$text: #333;
$light_text: rgb(150, 150, 150);
$med_text: rgb(130, 130, 130);
$headers: #333;
$headers_hover: #333;

//$code_text: #27AE60;
$code_text: #198c49;
$code_background: #F5F5F5;
