{% extends "base.html" %}

{% block title %} klvra {% endblock title %}

{% block head %}
<link rel="dns-prefetch" href="/posts">
{% endblock head %}

{% block main %}
  <div id="landing">
    <div id="landing-content">
      <span>
        <h1 id="landing-name"> Kevin Madison </h1>
      </span>
      <h4> Hi, I do stuff with computers. Take a look at my
        <a href="https://github.com/kevinlmadison">programming projects</a>, or my
        <a href="./posts">blog</a>.
      </h4>
    </div>
  </div>
{% endblock main %}
