{% extends "base.html" %}

{% block title %} klvra {% endblock title %}

{% block head %}
<link rel="dns-prefetch" href="/posts">
{% endblock head %}

{% block main %}
  <div id="landing">
    <div id="landing-content">
      <span>
        <h1 id="landing-name"> Kevin Madison </h1>
      </span>
      <h4> Hello. and welcome to my site. I am a full time software engineer where my primary focus is on site reliability, system integration, and backend development. I do use Github, even though a lot of the stuff I work on is private you can still check out my 
        <a href="https://github.com/kevinlmadison">profile</a>, or you can check out my
        <a href="./posts">not so populated blog</a>. If you like the style of this site and you like markdown you 
        should checkout 
        <a href="https://github.com/Keats/gutenberg">gutenberg</a>. It's a static site generator written 
        in 
        <a href="https://www.rust-lang.org">Rust</a> which is pretty cool.
        Here is my 
        <a href="./resume.pdf">Awesome Resume</a> chronicling my wizardly journey.
    </h4>
    </div>
  </div>
{% endblock main %}
